
<div class="container">
  <h1>Cadastre um Usuario</h1>

  <form [formGroup]="form" novalidate>
    <div class="form-container">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Jacob"
        required
        >
      </div>
      <div class="form-group">
        <label for="occupation">Occupation</label>
        <input
        type="text"
        id="occupation"
        formControlName="occupation"
        placeholder="Engenieer"
        required
        >
      </div>
      <div class="form-group">
        <label for="newsletter">Newsletter</label>
        <input
        type="checkbox"
        formControlName="newsletter"
        id="newsletter"
        checked
        >
      </div>
    </div>
    <button [disabled]="!form.valid" (click)="post()">Cadastrar</button>
  </form>
</div>
