<div class="status" *ngIf="status">
  <div class="title-card-details"> Foi excluido com sucesso! </div>
    <p class="redirect">Redirecionando em 00:0{{display}} para a lista.</p>
</div>

<div class="container" *ngIf="!status">
  <div class="card">
    <div class="card-group">
      <h1>{{lists?.id}}</h1>
      <h1>Nome: {{lists?.name}}</h1>
      <h2>Occupation: {{lists?.occupation}}</h2>
      <h1>Number: {{lists?.newsletter}}</h1>
      <h1>Data: {{lists?.createdAt | date}}</h1>
      <button class="Update" [routerLink]="['/app-edit',lists?.id]">Edit</button>
      <button (click)="deleteCard(lists?.id)">Delete</button>
    </div>
  </div>
</div>



